<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="adminPage">
    <div class="container-fluid">
        <ul class="nav nav-tabs" id="product">
            <li class="nav-item">
                <a class="nav-link active" href="#table">User table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#new">New User</a>
            </li>
        </ul>
        <div class="tab-content p-3">
            <div class="tab-pane fade show active" id="table">
                <h2 class="h4 mb-3">All users</h2>
                <div th:insert="pages/allUsers :: tableAllUsers"></div>
            </div>
            <div class="tab-pane fade" id="new">
                <h2 class="h4 mb-3">Add new user</h2>
                <div th:insert="pages/new :: newPage"></div>
            </div>
        </div>
    </div>

    <script>
        // #product a – селектор, выбирающий элементы a, представляющие собой вкладки (при клике на которые нужно отображать соответствующий блок)
        $('#product a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    </script>
</div>
</html>