<html>
<div th:fragment="userPage">
    <div class="container">
        <table border="0" style="table-layout: fixed; width: 30%;">
            <tr>
                <th width="30px"><a>№</a></th>
                <th><a>Имя</a></th>
                <th><a>Фамилия</a></th>
                <th><a>Email</a></th>
            </tr>
            <tr>
                <th><p th:text="${user.getId()}">№</p></th>
                <th><span th:text="${user.getName()}">Имя</span></th>
                <th><span th:text="${user.getLastname()}">Фамилия</span></th>
                <th><span th:text="${user.getRoles()}">Email</span></th>
            </tr>
        </table>
    </div>
</div>
</html>