<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" http-equiv="Content-Type" content="width=device-width, initial-scale=1, charset=UTF-8">
    <title th:text="${#httpServletRequest.requestURI == '/' ? 'Admin panel' : 'User page'}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body onload="addUserTable()">
<header th:insert="~{blocks/head :: head}"></header>
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-2 p-0">
            <div th:replace="~{blocks/type_selection :: button}" id="butPanel"/>
            <div class="btn-group-vertical btn-group-justified" style="width: 100%">
                <button id="buttonAdmin" type="button" data-toggle="button"
                        class="btn btn-primary text-left"
                        onclick="location.href = '#';">
                    Admin
                </button>
                <button id="buttonUser" type="button" data-toggle="button"
                        class="btn btn-light text-left text-primary"
                        onclick="location.href = '#';">
                    User
                </button>
            </div>
        </div>
        <div class="col ml-4">
            <div th:switch="${#httpServletRequest.requestURI}">
                <div class="container" th:case="'/'">
                    <div class="row h1">Admin panel</div>
                    <div class="row-12" th:insert="~{pages/admin_panel :: adminPage}"/>
                </div>
                <div class="container" th:case="'/user'">
                    <div class="row h1">User information-page</div>
                    <div class="row-12" th:insert="~{pages/user :: userPage}"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="blocks/srccdn :: cdn"></div>
</body>
</html>